/* ------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555555;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------ */
/* REUSEABLE COMPONENTS */
/* ------------------------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1px;
}

/* -----PARAGRAPH----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}

/* -----ICONS----- */
.icon-big {
    display: block;
    font-size: 350%;
    color: #e67e22;
    margin-bottom: 20px;
}


/* -----BUTTONS----- */

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 100px;
    border: 1px solid #e67e22;
    transition: background-color 0.2s, color 0.2s, border 0.2s ;
}

.btn-full:link, .btn-full:visited {
    background-color: #e67e22;
    color: white;
    margin-right: 10px;
}

.btn-ghost:link, .btn-ghost:visited {
    color:#e67e22;;
}

.btn:hover, .brn:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active {
    color: white;
}

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0 , 0 ,0.7), rgba(0, 0 , 0 ,0.7)), url(/resources/css/img/hero.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.hero-text-box {
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1, 
h2, 
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1 {
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    content: " ";
    margin: 30px auto 0 auto;
}

.logo {
    width: 100px;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ------------------------------------------------------ */
/* MEAL SECTION */
/* ------------------------------------------------------ */

.meals-section {
    list-style: none;
    width: 100%;
    padding: 0;

}

.meals-section li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.6;
    width: 100%;
    transform: scale(1.15);
    transition: 0.4s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


